<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        SecondPage
    </h1>
    <a href="/">to main page</a>
    <a href="/redirectToMainPage">redirect to main page</a>
    <hr>
    <button id="redirectButton">Ajax Get Redirect GET</button>
    <button id="redirectButtonPOST">Ajax Get Redirect POST</button>

    <hr>

    <form action="/redirectToMainPage" method="POST" style="border: 1px solid black;">
        <input type="text" name="text" value="text"/>
        <input type="file" name="file">
        <button type="submit">submit</button>
    </form>

    <button id="sendJSForm">
        send virteal JS Form Ajax
    </button>
    <script>
        const sendJSFormButton = document.getElementById('sendJSForm');
        sendJSFormButton.addEventListener('click', (e) => {
            e.preventDefault();

            var formElement = document.querySelector("form");

            let formData = new FormData(formElement);
            //formData.append('text', 'text');

            fetch('/redirectToMainPage', {
                method: 'POST',
                body: formData,
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8",
                    "Cache-Control": "max-age=0"
                }
            });
        })
    </script>

    <hr>

    <script>
        const button = document.getElementById('redirectButton');
        button.addEventListener('click', (e) => {
            e.preventDefault();

            fetch('/redirectToMainPage');
        })

        const buttonPost = document.getElementById('redirectButtonPOST');
        buttonPost.addEventListener('click', (e) => {
            e.preventDefault();

            fetch('/redirectToMainPage', {
                method: 'POST'
            });
        })
    </script>
</body>
</html>